<%- include("partials/header.ejs") %> 

<h1>Home</h1>
<h4>Wanna share something?</h4>
<p class="introPara">Blogora has been developed by Abdur Rahman.</p>
<p class="introPara">Write a post by clicking on "+" sign.</p> 
<p class="introPara"> Read other's posts & enjoy!</p>
<abbr title="Write A New Post"><a href="/compose" class="float">
<i class="fa fa-plus my-float"></i>
</a></abbr>
<hr class="special_line">
<h4 style="text-decoration: underline;" >Recent Posts</h4>
<% posts.reverse() %>
<% posts.forEach(function(post){ %>
<h2 class="postTitle postTitleHome"><i><%= post.title %></i></h2>
<p class="postWriter" > <i> &nbsp;&nbsp; [ By <%= post.writer %> ]</i></p>
<p class="postTime" ><i><%= post.timeAndDate%></i></p>
<div style="white-space: pre-line;"><p><%=post.body.substr(0,100) %> ... <a href="/post/<%=post._id%> ">Read More</a> </p></div>
<% }) %>

<%- include("partials/footer.ejs") %> 