<%- include("partials/header.ejs") %> 
<div class="mainPost">
<h2 class="postTitle"><i><u><%= title %></u></i></h2>
<div style="white-space: pre-line;"><p><%=body%></p></div>
<p class="postWriter" > <i> &nbsp;&nbsp; [ By <%= writer %> ]</i></p>
<p class="postTime" ><i><%= timeAndDate%></i></p>
<br>
<button type="button" class="btn btn-success btn-lg"> <a href="/">Go Back</a> </button>
</div>
<%- include("partials/footer.ejs") %> 